@font-face {
    font-family: comfortaa;
    src: url(../fonts/Comfortaa-VariableFont_wght.ttf);
}

html, body, .container {
    margin: 0;
    height: 100%;
    font-family: comfortaa;
    background-color: #000000;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    max-width: none;
}

#display-screen {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    background: linear-gradient(#121212, #242124);
}

#display-content {
    margin: 0 10%;
    font-size: 350%;
    max-width: 80%;
    color: #ffffff;
}

#buttons {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    height: 60%;
}

.row {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col {
    height: 100%;   
    font-size: large;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #ffffff;
    background-color: #2C2C2C;
}

#popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 75%;
    transform: translate(-50%,-50%);
    background-color: rgb(100, 100, 100);
    padding: 1rem;
    border-radius: 30px;
    opacity: 0.8;
}

#popup p {
    margin: 0;
    color: white;
}

#divide, #multiply, #subtract, #addition {
    background-color: #0097ff;
}

#divide:active, #multiply:active, #subtract:active, #addition:active {
    background-color: #00548b;
}

#clear, #brackets, #percent {
    background-color: #33363D;
}

#clear:active, #brackets:active, #percent:active {
    background-color: #2C2C2C;
}

#equal {
    background-color: #00b140;
}

#equal:active {
    background-color: #00762b;
}

.col:active {
    background-color: #000000;
}