html, body, .container {
    margin: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    max-width: none;
}

#display-screen {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

#display-content {
    margin: 0 10%;
    font-size: 350%;
    max-width: 80%;
}

#buttons {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    height: 60%;
    border-top: 1px solid black;
}

.row {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col {
    height: 100%;   
    font-size: large;
    font-weight: 500;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.col:active {
    background-color: #bebebe;
    border: #bebebe;
}

#popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 75%;
    transform: translate(-50%,-50%);
    background-color: rgb(100, 100, 100);
    padding: 1rem;
    border-radius: 30px;
    opacity: 0.8;
}

#popup p {
    margin: 0;
    color: white;
}